<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.hbase.manager.system.mapper.SysHbaseTagMapper">
    
    <resultMap type="SysHbaseTag" id="SysHbaseTagResult">
        <result property="tagId"    column="tag_id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysHbaseTagVo">
        select tag_id, tag_name, create_by, create_time, update_by, update_time from sys_hbase_tag
    </sql>

    <select id="selectSysHbaseTagList" parameterType="SysHbaseTag" resultMap="SysHbaseTagResult">
        <include refid="selectSysHbaseTagVo"/>
        <where>  
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
        </where>
    </select>

    <select id="selectAllSysHbaseTagList" resultMap="SysHbaseTagResult">
        <include refid="selectSysHbaseTagVo"/>
    </select>

    <select id="selectSysHbaseTagsByTableId" parameterType="Long" resultMap="SysHbaseTagResult">
        SELECT tag.tag_id, tag.tag_name
        FROM sys_hbase_tag tag
                 LEFT JOIN sys_hbase_table_tag h_tag ON tag.tag_id = h_tag.tag_id
        WHERE h_tag.table_id = #{tableId}
    </select>
    
    <select id="selectSysHbaseTagById" parameterType="Long" resultMap="SysHbaseTagResult">
        <include refid="selectSysHbaseTagVo"/>
        where tag_id = #{tagId}
    </select>
        
    <insert id="insertSysHbaseTag" parameterType="SysHbaseTag" useGeneratedKeys="true" keyProperty="tagId">
        insert into sys_hbase_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysHbaseTag" parameterType="SysHbaseTag">
        update sys_hbase_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where tag_id = #{tagId}
    </update>

    <delete id="deleteSysHbaseTagById" parameterType="Long">
        delete from sys_hbase_tag where tag_id = #{tagId}
    </delete>

    <delete id="deleteSysHbaseTagByIds" parameterType="String">
        delete from sys_hbase_tag where tag_id in 
        <foreach item="tagId" collection="array" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </delete>

</mapper>