<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.hbase.manager.system.mapper.SysHbaseTableTagMapper">
    
    <resultMap type="SysHbaseTableTag" id="SysHbaseTableTagResult">
        <result property="tableId"    column="table_id"    />
        <result property="tagId"    column="tag_id"    />
    </resultMap>

    <sql id="selectSysHbaseTableTagVo">
        select table_id, tag_id from sys_hbase_table_tag
    </sql>

    <select id="selectSysHbaseTableTagList" parameterType="SysHbaseTableTag" resultMap="SysHbaseTableTagResult">
        <include refid="selectSysHbaseTableTagVo"/>
        <where>
            <if test="tableId != null"> and table_id = #{tableId}</if>
            <if test="tagId != null"> and tag_id = #{tagId}</if>
        </where>
    </select>
    
    <select id="selectSysHbaseTableTagById" parameterType="Long" resultMap="SysHbaseTableTagResult">
        <include refid="selectSysHbaseTableTagVo"/>
        where table_id = #{tableId}
    </select>
        
    <insert id="insertSysHbaseTableTag" parameterType="SysHbaseTableTag">
        insert into sys_hbase_table_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableId != null">table_id,</if>
            <if test="tagId != null">tag_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableId != null">#{tableId},</if>
            <if test="tagId != null">#{tagId},</if>
         </trim>
    </insert>


    <insert id="batchInsertSysHbaseTableTag">
        insert into sys_hbase_table_tag(table_id, tag_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.tableId},#{item.tagId})
        </foreach>
    </insert>


    <update id="updateSysHbaseTableTag" parameterType="SysHbaseTableTag">
        update sys_hbase_table_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagId != null">tag_id = #{tagId},</if>
        </trim>
        where table_id = #{tableId}
    </update>

    <delete id="deleteSysHbaseTableTagById" parameterType="Long">
        delete from sys_hbase_table_tag where table_id = #{tableId}
    </delete>

    <delete id="deleteSysHbaseTableTagByIds" parameterType="String">
        delete from sys_hbase_table_tag where table_id in 
        <foreach item="tableId" collection="array" open="(" separator="," close=")">
            #{tableId}
        </foreach>
    </delete>

</mapper>