<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.hbase.manager.system.mapper.SysHbaseTableMapper">

    <resultMap id="SysHbaseTableBaseResult" type="SysHbaseTable">
        <result property="tableId" column="table_id"/>
        <result property="namespaceId" column="namespace_id"/>
        <result property="tableName" column="table_name"/>
        <result property="disableFlag" column="disable_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap type="SysHbaseTable" id="SysHbaseTableResult">
        <result property="tableId" column="table_id"/>
        <result property="namespaceId" column="namespace_id"/>
        <result property="tableName" column="table_name"/>
        <result property="disableFlag" column="disable_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>

        <association property="sysHbaseNamespace" column="namespace_id" javaType="SysHbaseNamespace"
                     resultMap="sysHbaseNamespaceResult"/>
        <collection property="sysHbaseTagList" javaType="java.util.List" resultMap="sysHbaseTagResult"/>
    </resultMap>

    <resultMap id="sysHbaseNamespaceResult" type="SysHbaseNamespace">
        <id property="namespaceId" column="namespace_id"/>
        <result property="namespaceName" column="namespace_name"/>
    </resultMap>

    <resultMap id="sysHbaseTagResult" type="SysHbaseTag">
        <id property="tagId" column="tag_id"/>
        <result property="tagName" column="tag_name"/>
    </resultMap>

    <sql id="selectSysHbaseTableBaseVo">
        select table_id,
               namespace_id,
               table_name,
               disable_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               status,
               remark
        from sys_hbase_table
    </sql>

    <sql id="selectSysHbaseTableVo">
        SELECT ht.table_id,
               hns.namespace_id,
               hns.namespace_name,
               table_name,
               tag.tag_id,
               tag.tag_name,
               disable_flag,
               ht.create_by,
               ht.create_time,
               ht.update_by,
               ht.update_time,
               ht.`status`,
               ht.remark
        FROM sys_hbase_table ht
                 left join sys_hbase_namespace hns on ht.namespace_id = hns.namespace_id
                 left join sys_hbase_table_tag htt on ht.table_id = htt.table_id
                 left join sys_hbase_tag tag on htt.tag_id = tag.tag_id
    </sql>

    <select id="selectSysHbaseTableList" parameterType="SysHbaseTable" resultMap="SysHbaseTableResult">
        <include refid="selectSysHbaseTableVo"/>
        <where>
            <if test="namespaceId != null ">and hns.namespace_id = #{namespaceId}</if>
            <if test="tableName != null  and tableName != ''">and table_name like concat('%', #{tableName}, '%')</if>
            <if test="disableFlag != null  and disableFlag != ''">and disable_flag = #{disableFlag}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>


    <select id="selectSysHbaseTableListByNamespaceId" parameterType="Long" resultMap="SysHbaseTableBaseResult">
        <include refid="selectSysHbaseTableBaseVo"/>
        where namespace_id = #{namespaceId}
    </select>

    <select id="selectSysHbaseTableByNamespaceAndTableName" resultMap="SysHbaseTableBaseResult">
        <include refid="selectSysHbaseTableBaseVo"/>
        where namespace_id = #{namespaceId} and table_name =#{tableName}
    </select>


    <select id="selectSysHbaseTableById" parameterType="Long" resultMap="SysHbaseTableResult">
        <include refid="selectSysHbaseTableVo"/>
        where ht.table_id = #{tableId}
    </select>

    <insert id="insertSysHbaseTable" parameterType="SysHbaseTable" useGeneratedKeys="true" keyProperty="tableId">
        insert into sys_hbase_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="namespaceId != null">namespace_id,</if>
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="disableFlag != null">disable_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="namespaceId != null">#{namespaceId},</if>
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="disableFlag != null">#{disableFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysHbaseTable" parameterType="SysHbaseTable">
        update sys_hbase_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where table_id = #{tableId}
    </update>

    <update id="updateSysHbaseTableStatus" parameterType="SysHbaseTable">
        update sys_hbase_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where table_id = #{tableId}
    </update>


    <update id="updateSysHbaseTableDisabledStatus" parameterType="SysHbaseTable">
        update sys_hbase_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="disableFlag != null">disable_flag = #{disableFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where table_id = #{tableId}
    </update>

    <delete id="deleteSysHbaseTableById" parameterType="Long">
        delete
        from sys_hbase_table
        where table_id = #{tableId}
    </delete>

    <delete id="deleteSysHbaseTableByIds" parameterType="String">
        delete from sys_hbase_table where table_id in
        <foreach item="tableId" collection="array" open="(" separator="," close=")">
            #{tableId}
        </foreach>
    </delete>

</mapper>