<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('新增HBase表')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
    <div class="main-content">
        <form id="form-table-add" class="form-horizontal">
            <h4 class="form-header h4">HBase表信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">命名空间：</label>
                        <div class="col-sm-8">
                            <select name="namespaceId" class="form-control">
                                <option th:each="namespace:${namespaces}" th:value="${namespace.namespaceId}" th:text="${namespace.namespaceName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">表名称：</label>
                        <div class="col-sm-8">
                            <input name="tableName" placeholder="请输入HBase表名称" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">表标签：</label>
                        <div class="col-sm-8">
                            <select id="hbaseTag" class="form-control select2-multiple" multiple>
                                <option th:each="tag:${tags}" th:value="${tag.tagId}" th:text="${tag.tagName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                       <!-- <label class="col-sm-4 control-label is-required">日期字段：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
		                        <input name="birthday" class="form-control" placeholder="yyyy-MM-dd" type="text">
		                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		                    </div>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">状态：</label>
                        <div class="col-sm-8">
                            <div class="radio-box" th:each="dict : ${@dict.getType('sys_hbase_table_status')}">
                                <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}"
                                       th:checked="${dict.default}">
                                <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">是否禁用：</label>
                        <div class="col-sm-8">
                            <div class="radio-box" th:each="dict : ${@dict.getType('sys_hbase_table_disable')}">
                                <input type="radio" th:id="${dict.dictCode}" name="disableFlag" th:value="${dict.dictValue}"
                                       th:checked="${dict.default}">
                                <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">列簇信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addColumn()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
					    <table id="bootstrap-table"></table>
					</div>
                </div>
            </div>

            <h4 class="form-header h4">HBase表预分区</h4>
            <h5 class="form-header h5">预分区一</h5>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">start key：</label>
                        <div class="col-sm-8">
                            <input name="startKey" placeholder="start key" class="form-control" type="text" maxlength="30">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">end key：</label>
                        <div class="col-sm-8">
                            <input name="endKey" placeholder="end key" class="form-control" type="text" maxlength="30">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">预分区数：</label>
                        <div class="col-sm-8">
                            <input name="preSplitRegions" placeholder="预分区数" class="form-control" type="text" maxlength="30">
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="form-header h5">预分区二</h5>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">输入预分区Keys：</label>
                        <div class="col-xs-10">
                            <textarea name="preSplitKeys" maxlength="500"
                                      placeholder="输入预分区的split-keys,多个key用,分隔；例如:A,D,F,G,I"
                                      class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: datetimepicker-js" />

    <script th:src="@{/js/jquery.tmpl.js}"></script>
	<script th:inline="javascript">
	    $(function() {
		    var options = {
                pagination: false,
		        showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'name',
		            align: 'center',
		            title: '列簇名称',
		            formatter: function(value, row, index) {
		            	var html = $.common.sprintf("<input class='form-control' type='text' placeholder='输入列簇名称' name='families[%s].name' value='%s'>", index, value);
		        		return html;
                    }
		        },
		        {
		            field: 'maxVersions',
		            align: 'center',
		            title: '最大版本数',
		            formatter: function(value, row, index) {
		            	var html = $.common.sprintf("<input class='form-control' type='text' placeholder='输入最大版本数' name='families[%s].maxVersions' value='%s'>", index, value);
		        		return html;
                    }
		        },
		        {
		            field: 'timeToLive',
		            align: 'center',
		            title: 'TTL',
		            formatter: function(value, row, index) {
		            	var html = $.common.sprintf("<input class='form-control' type='text' placeholder='设置TTL' name='families[%s].timeToLive' value='%s'>", index, value);
		        		return html;
                    }
		        },
		        {
		            field: 'compressionType',
		            align: 'center',
		            title: '压缩类型',
		            formatter: function(value, row, index) {
		        		var data = [{ index: index, compressionType: value }];
		                return $("#compressionTypeTpl").tmpl(data).html();
                    }
		        }]
		    };
		    $.table.init(options);
		});
	    
	    /* 主子表-提交 */
        var prefix = ctx + "system/table"
        $("#form-table-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-table-add").serializeArray();
                var tagIds = $.form.selectSelects("hbaseTag");
                data.push({"name": "tagIds", "value": tagIds});

                $.operate.save(prefix + "/add", data);
            }
        }
	    
        $("input[name='birthday']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
        function addColumn() {
        	var count = $("#" + table.options.id).bootstrapTable('getData').length;
        	sub.editColumn();
        	
        	$("#" + table.options.id).bootstrapTable('insertRow', {
        		index: count,
                row: {
                	index: $.table.serialNumber(count),
                	name: "",
                    maxVersions: "",
                    timeToLive: "",
                    compressionType: "",
                }
        	});
        }

        $(function() {
            $('#hbaseTag').select2({
                placeholder: "请选择表标签",
                allowClear: true
            });
        })
    </script>
</body>
</html>

<!--列簇压缩类型-->
<script id="compressionTypeTpl" type="text/x-jquery-tmpl">
<div>
<select class='form-control' name='families[${index}].compressionType'>
    <option value="">所有</option>
    <option value="0" {{if compressionType==="0"}}selected{{/if}}>SNAPPY</option>
    <option value="1" {{if compressionType==="1"}}selected{{/if}}>GZIP</option>
    <option value="2" {{if compressionType==="2"}}selected{{/if}}>LZO</option>
    <option value="3" {{if compressionType==="3"}}selected{{/if}}>LZ4</option>
</select>
</div>
</script>